/*
* @Author: Jason
* @Date:   2017-06-29 16:05:25
* @Last Modified by:   Jason
* @Last Modified time: 2017-06-29 16:17:42
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}